@import 'variables';
$h-spotify-logo: 120px;

:host {
 max-width: 300px;
 min-height: 100vh;
 box-shadow: 1px 1px 15px #00000012;
 overflow-y: hidden;
 display: flex;
 flex-direction: column;
 background-color: $background2;

}

.menus {
  flex: 1;
  flex-direction: column;

  height: 100%;
  padding: 0px 40px 0px 40px;

  .image-container {
    min-height: $h-spotify-logo;

    img{
      width: 70%;
    }
  }

  .menu-container {
    width: 100%;

  }
}
