@import 'variables';
$h-spotify-logo: 120px;
$h-menu-opcoes: 150px;
$m-bt-menu: 10px;

:host {
 max-width: 300px;
 min-height: 100vh;
 box-shadow: 1px 1px 15px #00000012;
 overflow-y: hidden;
 display: flex;
 flex-direction: column;
 background-color: $background2;

}

.menus {
  flex: 1;
  flex-direction: column;

  height: 100%;
  padding: 0px 40px 0px 40px;

  .image-container {
    min-height: $h-spotify-logo;

    img{
      width: 70%;
    }
  }

  .menu-container {
    width: 100%;

    &.flex {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &.opcoes {
      min-height: $h-menu-opcoes;

      * {
        margin-bottom: $m-bt-menu;
      }
    }

    .playlist-title {
      margin: 10px 0;
      align-self: flex-start;
      font-weight: 700;
      font-size: .7rem;
      color: $black-tranparent;
      text-transform: uppercase;
    }

    .playlist-scroll {
      width: 100%;
      max-height: 50vh;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      * {
        margin-bottom: $m-bt-menu;
      }
    }
  }

}
